<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{/layouts/header :: head}"></head>

<body>

    <div th:replace="~{/layouts/nav-top :: nav}"></div>

    <div class="container">

        <div class="row mt-3">

            <div th:replace="~{/layouts/nav-left :: nav}"></div>

            <div class="col-sm-12 col-md-9">
                <div class="row">

                    <h1 class="fs-3" th:text="${categoria.getNome()}"></h1>
                    <h2 class="fs-5" th:text="${categoria.getDescricao()}"></h2>

                    <div th:if="${#lists.isEmpty(anuncios)}" class="col-12">
                        <div class="alert alert-danger mt-4" role="alert">
                            Nenhum anúncio cadastrado nessa categoria!
                        </div>
                    </div>

                    <div th:each="anuncio: ${anuncios}" class="col-sm-12 col-md-6">
                        <div class="card my-2">
                            <a th:href="@{'~/anuncios/' + ${anuncio.getCategoria()} + '/' + ${anuncio.getId()} + '/' + ${#uris.escapePathSegment(anuncio.getTitulo())}}"
                                class="text-reset text-decoration-none">
                                <img src="https://via.placeholder.com/300x200" class="card-img-top"
                                    th:alt="${anuncio.getTitulo()}">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="card-title"><span class="fw-light">R$</span> <span
                                                    th:text="${anuncio.getValor()}"></span></h5>
                                        </div>
                                        <div th:text="${anuncio.getLocalizacao()}" class="col-auto"></div>
                                    </div>
                                    <p th:text="${anuncio.getDescricao()}" class="card-text"></p>
                                    <p class="card-text"><small
                                            th:text="${#dates.format(anuncio.getDataAnuncio(), 'dd/MM hh:mm')}"
                                            class="text-muted">30 mins atrás</small></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div th:replace="~{/layouts/footer :: footer}"></div>

</body>

</html>