<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{/layouts/header :: head(metaTitle='Anuncio deletado')}"></head>

<body>

    <div th:replace="~{/layouts/nav-top :: nav}"></div>

    <div class="container">
        <div class="row my-5">
            <div class="col">
                <div class="alert alert-primary" role="alert">
                    Anúncio deletado do sistema com sucesso!
                </div>
            </div>
        </div>
    </div>

    <div th:replace="~{/layouts/footer :: footer}"></div>

</body>

</html>